#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ange en anpassad 404-sida
ErrorDocument 404 /404.html

# Ange en anpassad 500-sida (serverfel)
ErrorDocument 500 /404.html
ErrorDocument 502 /404.html
ErrorDocument 503 /404.html
ErrorDocument 504 /404.html

# Om någon går in på en undermapp som inte finns, skicka dem till huvudsidan
RedirectMatch 404 ^/undermapp/?$

# Ompekning av alla http-förfrågningar till https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ompekning till huvudsidan om sidan eller undermapp saknas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L,QSA]
